#contrain{
    position: absolute;
    top: 200px;
    left: 500;
}

#button{
    background-color: darkturquoise;
    height: 100px;
    width: 400px;
}

#button2{
    background-color: greenyellow;
    height: 70px;
    width: 70px;
}

#button3{
    background-color: hotpink;
    height: 70px;
    width: 70px;
}

#box{
    background-color: khaki;
    height: 250px;
    width: 400px;
}

#box2{
    background-color: lightcoral;
    height: 250px;
    width: 400px;
}